*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    overflow-y: scroll;
    font-family: $primary-font-stack;
    color: $darkgrey;
    background-color: $lightestgrey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    min-height: 100vh;
}

#root,
.wrapper,
.page {
    display: flex;
    flex-direction: column;
    flex: 1;
}
