*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    overflow-y: scroll;
    font-family: $primary-font-stack;
    color: $darkgrey;
    background-color: $lightestgrey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    min-height: 100vh;
}

#root,
.wrapper,
.page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    @include type-setting(5);
}

h2 {
    @include type-setting(4);
}

h3 {
    @include type-setting(3);
}

h4,
blockquote {
    @include type-setting(2);
}

h5,
p {
    @include type-setting(1);
}

h6 {
    @include type-setting(0);
}

small {
    @include type-setting(-1);
}

textarea,
input {
    &:focus {
        outline: none;
    }
}
