@font-face {
  font-family: 'Avenir-Black';
  src: url('/fonts/Avenir/Avenir-Black.otf') format('otf'),
			//  url('/fonts/Avenir/Avenir-Black.woff2') format('woff2'),
			//  url('/fonts/Avenir/Avenir-Black.woff') format('woff'),
			 url('/fonts/Avenir/Avenir-Black.ttf') format('truetype');
				font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('/fonts/Avenir/Avenir-Heavy.otf') format('otf'),
			//  url('/fonts/Avenir/Avenir-Heavy.woff2') format('woff2'),
      //  url('/fonts/Avenir/Avenir-Heavy.woff') format('woff'),
       url('/fonts/Avenir/Avenir-Heavy.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('/fonts/Avenir/Avenir-Medium.otf') format('otf'),
      //  url('/fonts/Avenir/Avenir-Medium.woff2') format('woff2'),
			//  url('/fonts/Avenir/Avenir-Medium.woff') format('woff'),
       url('/fonts/Avenir/Avenir-Medium.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('/fonts/Avenir/Avenir-Book.otf') format('otf'),
      //  url('/fonts/Avenir/Avenir-Book.woff2') format('woff2'),
			//  url('/fonts/Avenir/Avenir-Book.woff') format('woff'),
       url('/fonts/Avenir/Avenir-Book.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('/fonts/Avenir/Avenir-Light.otf') format('otf'),
      //  url('/fonts/Avenir/Avenir-Light.woff2') format('woff2'),
			//  url('/fonts/Avenir/Avenir-Light.woff') format('woff'),
       url('/fonts/Avenir/Avenir-Light.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Avenir-UltraLight';
	src: url('/fonts/Avenir/Avenir-UltraLight.eot') format('eot');
  src: url('/fonts/Avenir/Avenir-UltraLight.otf') format('otf'),
       url('/fonts/Avenir/Avenir-UltraLight.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Sackers Light';
  src: url('/fonts/SackersGothic/ATSackersGothic-Light.woff2') format('woff2'),
       url('/fonts/SackersGothic/ATSackersGothic-Light.woff') format('woff'),
       url('/fonts/SackersGothic/ATSackersGothic-Light.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Sackers Medium';
  src: url('/fonts/SackersGothic/ATSackersGothic-Medium.woff2') format('woff2'),
       url('/fonts/SackersGothic/ATSackersGothic-Medium.woff') format('woff'),
       url('/fonts/SackersGothic/ATSackersGothic-Medium.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Sackers Heavy';
  src: url('/fonts/SackersGothic/ATSackersHeavyGothic.woff2') format('woff2'),
       url('/fonts/SackersGothic/ATSackersHeavyGothic.woff') format('woff'),
       url('/fonts/SackersGothic/ATSackersHeavyGothic.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@mixin smoothing {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
