# .prettierrc
# https://prettier.io/docs/en/options.html
arrowParens: avoid
bracketSpacing: true
jsxBracketSameLine: false
printWidth: 80
proseWrap: preserve
singleQuote: true
tabWidth: 4
trailingComma: none
useTabs: false
