// VARIABLES

$tablet-width: 768px;
$desktop-width: 960px;
$large-width: 1280px;

$default-font-family: 'Roboto', sans-serif;
$default-font-size: 16px;

$color-primary: #333;
$color-secondary: #999;

$color-background: #f5f5f5;

$color-stroke-primary: #bebebe;
$color-stroke-secondary: #aeaeae;

// UTILS

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// hack to remove scrollbars from chrome and IE
@mixin hideScroll() {
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0 !important;
    }
}

// Sidebar Widget / Full width container mixin
@mixin contentWidth($container-width) {
    width: $container-width;
}

// BREAKPOINTS

@mixin only-mobile {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin only-tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin only-desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$large-width}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large-width}) {
        @content;
    }
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// ANIMATIONS

@mixin enhanceAnimations() {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    // stoping flickering on chrome
    // -webkit-transform-style: preserve-3d;
    // -webkit-perspective: 1000;
    // -webkit-backface-visibility: hidden;
}
