// example: @include depth(1);

$shadow: (
    0: none,
    1:
        (
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2)
        ),
    2:
        (
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.3)
        ),
    3:
        (
            0 6px 10px 0 rgba(0, 0, 0, 0.14),
            0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.3)
        ),
    4:
        (
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.3)
        ),
    5:
        (
            0 16px 24px 2px rgba(0, 0, 0, 0.14),
            0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.3)
        )
);

$scale: (
    0: 1,
    1: 1.01,
    2: 1.02,
    3: 1.03,
    4: 1.04,
    5: 1.05
);

@function shadow($level) {
    @return map-get($shadow, $level);
}

@function scale($level) {
    @return map-get($scale, $level);
}

@mixin depth($level) {
    box-shadow: shadow($level);
    transform: scale(scale($level));
}
