$primary-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !default;

$secondary-font-stack: 'Courier New', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$base-font-size: 1rem;

$base-line-height: 1.5 * $base-font-size;

$type-settings: (
    -4: (font-size: 1rem, line-height: $base-line-height),
    -3: (font-size: 1.1rem, line-height: $base-line-height),
    -2: (font-size: 1.2rem, line-height: $base-line-height),
    -1: (font-size: 1.3rem, line-height: $base-line-height),
    0: (font-size: 1.5rem, line-height: $base-line-height),
    1: (font-size: 1.8rem, line-height: $base-line-height * 2),
    2: (font-size: 2.6rem, line-height: $base-line-height * 2),
    3: (font-size: 3rem, line-height: $base-line-height * 2),
    4: (font-size: 3.6rem, line-height: $base-line-height * 2),
    5: (font-size: 4.8rem, line-height: $base-line-height * 2)
);
